/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5e7f1;
    color: #333333;
    text-align: center; /* Centers text content in the body */
    line-height: 1.6;
    
}

/* Header styles */
header {
    background-color:#005EB8;
    color: white;
    padding:  0;
    text-align: center; /* Centers the header content */
    position: sticky;
    top: 0;
}



header nav ul {
    list-style-type: none;
    padding: 0;
    
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(21, 20, 20);
    text-decoration: none;
}

.venue {
    margin: 20px 0;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.venue img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
}

/* Center all h1, h2, and h3 tags */
h1, h2, h3 {
    text-align: center; /* Centers the headings */
    color: #333;
}

/* Center the images */
section img {
    width: 100%;
    max-width: 250px; /* Ensures the image doesn’t grow too large */
    height: auto;
    border-radius: 8px;
    display: block; /* Makes image behave as a block element */
    margin-left: auto;
    margin-right: auto; /*Centers the image horizontally */
}

.museum {
    margin: 20px 0;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.museum img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
}

/* section {
    padding: 3px;
} */
/* Footer styles */


a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.comedian {
    margin: 20px 0;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comedian img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 8px;
}

.overview {
    margin: 20px 0;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.comedian img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 8px;
}

footer {
    background-color:  #005EB8;
    color: white;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    position: sticky;
    top: 0;
}






